<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dontworry.warehouse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplshActivity" />
        <activity android:name=".classifcationactivity.ClassifcationHomeFurnishingItemActivity" />
        <activity android:name=".classifcationactivity.ClassifcationHomeFurnishingDetailsItemActivity" />
        <activity android:name=".pager.SpecialitemActivity" />
        <activity android:name=".adapter.HomeItemActivity" />
        <activity android:name=".fragment.MasterItemActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MySelfActivity" />
        <activity android:name=".activity.cartBuyActivity"></activity>
    </application>

</manifest>